.error-block {
  display: flex;
  justify-content: center;
  height: 500px;
  &__inner {
    margin-top: 45px;
    text-align: center;
  }
  &__title {
    font-size: 41px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 25px;
  }
}