@import './components/cartItem';
@import './components/errorBlock';
@import './components/loadingBlock';
@import './components/emptyCart';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.main {
  display: flex;
}

.left {
  width: 75%;
  margin-right: 20px;
}

.right {
  width: 25%;
}

.cart-total {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__top {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  &__top span {
    margin-left: 5px;
    font-size: 25px;
    font-weight: 700;
  }
}